#filepath {
  flex: 1;
}

.hide-no-match .no-match {
  display: none;
}

.no-match {
  opacity: 0.2;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

.content {
  flex: 1;
}

.content-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: auto;
}

.log-content {
  flex: 1;
  overflow: auto;
}

.log-content {
  box-sizing: border-box;
  font-family: monospace;
  padding: 1em;
  white-space: pre;
}

.sidebar {
  display: block;
  overflow: auto;
  padding: 1em;
}

.sidebar {
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  font-family: monospace;
}

.sidebar-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sidebar-hidden {
  display: none;
}

.toolbar {
  box-sizing: border-box;
  display: flex;
  padding: 1em;
}
